.bg-image {
  background-image: linear-gradient(
    to top,
    #00044e,
    #000548,
    #000542,
    #00053c,
    #020436,
    #020434,
    #030333,
    #030331,
    #030334,
    #020236,
    #020239,
    #01013b
  );
}

.ant-input {
  font-size: 16px !important;
}

.border-style {
  border-radius: 41% 59% 18% 82% / 76% 25% 75% 24%;
}

.border-style2 {
  border-radius: 100% 0% 0% 0% / 100% 0% 100% 0%;
}

.bg-style {
  background: linear-gradient(
    31deg,
    rgba(4, 177, 255, 1) 10%,
    rgb(11, 199, 216) 53%,
    rgba(2, 0, 36, 1) 100%
  );
}

.text-gradient {
  background: linear-gradient(
    31deg,
    rgba(4, 177, 255, 1) 10%,
    rgb(11, 199, 216) 53%,
    rgba(2, 0, 36, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-size: cover;
  -webkit-text-fill-color: transparent;
}

.ant-result-extra {
  margin-top: 0;
}

.ant-upload-list-item-actions {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.ant-popover-message {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .react-pdf__Page__canvas {
    width: 300px !important;
    height: 100% !important;
  }
}
