.bg-image {
  background-image: linear-gradient(
    to top,
    #00044e,
    #000548,
    #000542,
    #00053c,
    #020436,
    #020434,
    #030333,
    #030331,
    #030334,
    #020236,
    #020239,
    #01013b
  );
}

.ant-input {
  font-size: 16px !important;
}

.border-style {
  border-radius: 41% 59% 18% 82% / 76% 25% 75% 24%;
}

.border-style2 {
  border-radius: 100% 0% 0% 0% / 100% 0% 100% 0%;
}

.bg-style {
  background: linear-gradient(
    31deg,
    rgba(4, 177, 255, 1) 10%,
    rgb(11, 199, 216) 53%,
    rgba(2, 0, 36, 1) 100%
  );
}

.text-gradient {
  background: linear-gradient(
    31deg,
    rgba(4, 177, 255, 1) 10%,
    rgb(11, 199, 216) 53%,
    rgba(2, 0, 36, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-size: cover;
  -webkit-text-fill-color: transparent;
}

.ant-result-extra {
  margin-top: 0;
}

.ant-upload-list-item-actions {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.ant-popover-message {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.ant-switch-checked:focus {
  box-shadow: none !important;
}
@media screen and (max-width: 640px) {
  .react-pdf__Page__canvas {
    width: 300px !important;
    height: 100% !important;
  }
}

.dark .ant-input {
  background-color: #000 !important;
  color: #fff !important;
}

.light .ant-input {
  background-color: #fff !important;
  color: #000 !important;
}

.dark .ant-input-affix-wrapper {
  background-color: #000 !important;
  color: #fff !important;
}

.light .ant-input-affix-wrapper {
  background-color: #fff !important;
  color: #000 !important;
}

.dark .ant-select {
  background-color: #000 !important;
  color: #fff !important;
}

.light .ant-select {
  background-color: #fff !important;
  color: #000 !important;
}

.dark .ant-select-selector {
  background-color: #000 !important;
  color: #fff !important;
}

.dark .ant-modal-content {
  background-color: #111 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}

.dark .ant-modal-header {
  background-color: #000 !important;
  color: #fff !important;
}

.dark .anticon {
  color: #fff !important;
}

.dark .anticon.anticon-left,
.dark .anticon.anticon-right {
  color: #000 !important;
}

.dark .ant-modal-close-x {
  background-color: #111 !important;
}

.dark .ant-form-item-required {
  color: #fff !important;
}

.dark .ant-message-error .anticon {
  color: #ff4d4f !important;
}

.dark .ant-message-notice-content {
  background-color: #111 !important;
  color: #fff !important;
}

.dark .ant-menu-dark.ant-menu-horizontal {
  border-bottom: 1px solid rgb(53, 53, 53) !important;
}

.ant-btn {
  background-color: transparent !important;
}
