@import "antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("./components.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply !font-body;
  }
  ul,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li {
    @apply !mb-0;
  }
}